# Data Science Tools and Ecosystem

### Author: 
Rachel Chung

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* List popular langues used in Data Science
* List commonly used libraries in Data Science
* Arithmetic expressions using Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the libraries commonly used by Data Scientists include:
1. Pandas
2. Seaborn
3. ggplot

|Data Science Tools|
|---|
|R Studio|
|Spyder|
|Jupyter Notebook|

### Here are a few examples of evaluating arithmetic expressions in Python:

In [17]:
#This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [25]:
#This will convert minutes into hours
min = 200
hr = min/60
print(str(hr)+" hours")

3.3333333333333335 hours